.header {
  display: flex;
  margin-top: 10vh;
  overflow: hidden;
  position: relative;

  .heading-1 {
    background-color: #fff;
    padding: 0em 1em;
    padding-right: 3em;
    animation: btn 5s 1;

    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    box-shadow: 2px 10px 15px rgba(#000, 0.5);
  }

  .btn-primary {
    box-shadow: 2px 10px 15px rgba(#000, 0.5);
    align-self: flex-start;
    animation: btnY 2s 1;
  }

  p {
    width: 60%;
    background-color: $dark;
    color: #fff;
    padding: 1em 1em;
    padding-right: 3em;
    box-shadow: 2px 10px 15px rgba(#000, 0.5);
    animation: btnText 2s 1;
  }

  &-content {
    height: 80vh;
    img {
      max-width: 100%;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      &-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20%;

        display: flex;
        flex-direction: column;
      }
    }
  }
}

@keyframes btn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes btnText {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes btnY {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
