@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .header {
    margin-top: 10em;
    height: 44vh;
    .heading-1 {
      background-color: #fff;
      padding: 0.3em 1em;
      padding-right: 3em;
      animation: btn 5s 1;
      font-size: 2rem;
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      box-shadow: 2px 10px 15px rgba(#000, 0.5);
    }

    .btn-primary {
      box-shadow: 2px 10px 15px rgba(#000, 0.5);
      align-self: flex-start;
      animation: btn 5s 1;
    }

    p {
      width: 60%;
      background-color: $dark;
      color: #fff;
      padding: 1em 1em;
      padding-right: 3em;
      box-shadow: 2px 10px 15px rgba(#000, 0.5);
      animation: btn 5s 1;
    }

    &-content {
      height: 100vh;
      img {
        max-width: 100%;
      }
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;

        &-container {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .service {
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    height: 100vh;
    margin-bottom: 8em;

    &-title {
      margin-top: -4em;
      padding-top: 6em;
      background-image: linear-gradient(
          to right bottom,
          rgba($primary, 0.9),
          rgba($primary, 0.9)
        ),
        url(../img/services-2.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
      background-size: cover;
      height: 60vh;

      width: 100%;

      text-align: left;
      span {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        font-size: 1.6rem;
        color: rgba(#fff, 0.5);
      }
      .text {
        animation: texts 4s 1;
      }

      .span {
        animation: texts 3s 1;
      }
    }
    .heading-2 {
      position: relative;
      font-size: 3rem;
      animation: btn 2s 1;
      color: $dark;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.3em;
        left: 0.1em;

        width: 2em;
        height: 5px;
        background-color: rgba($dark, 0.3);
      }
    }

    i {
      color: $primary;
      font-size: 4rem;
      display: block;
      margin-bottom: 1em;
    }
    img {
      margin-bottom: 1.6em;
    }
    &-grid {
      display: grid;
      position: relative;
      z-index: 6666;
      margin-top: -40em;
      grid-gap: 2em;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);

      &-block {
        transition: all 0.5s;
        padding: 2em;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 10px 20px 100px 0px rgba(#000, 0.5);
        border-top: 6px solid $dark;
        &:nth-child(1) {
          animation: texts 0.5s 1;
        }

        &:nth-child(2) {
          animation: texts 1s 1;
        }

        &:nth-child(3) {
          animation: texts 1.5s 1;
        }

        h3 {
          color: $dark;
        }
      }
    }
  }

  .portfolio-left {
    height: 60vh;
    background-image: linear-gradient(rgba(#1c1d26, 0.5), rgba(#1c1d26, 0.5)),
      url(../../img/program/program-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    justify-items: left;

    .heading-1 {
      color: #fff;
      margin-bottom: 1.5em;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.5em;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 1.5em;
        border-radius: 50px;
        background-color: rgba($primary, 0.8);
        border-radius: 20px;
      }
    }

    &-block {
      width: 35%;
      padding: 3em;
      justify-self: right;
      padding-top: 6em;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      background-color: rgba(#1c1d26, 0.8);
      border-left: 5px solid $primary;

      .bold {
        color: #fff;
        margin-bottom: 1em;
      }
    }
  }

  .gallery {
    position: relative;
    &-title {
      margin-bottom: 6em;
      h2 {
        font-size: 3rem;
      }
    }

    img {
      max-width: 100%;
    }

    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      background-color: #fff;

      background-image: linear-gradient(
          to right bottom,
          rgba($primary, 0.9),
          rgba($primary, 0.9)
        ),
        url(../img/services-2.jpg);
      background-size: cover;
      clip-path: polygon(0 19%, 100% 0, 100% 60%, 0 100%);
    }
    &-grid {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 2em;
      &-block {
        position: relative;
        &:hover .front {
          transform: rotateY(-180deg);
        }
        &:hover .back {
          transform: rotateY(0);
        }

        .c {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-radius: 3px;
          overflow: hidden;
          box-shadow: 10px 20px 30px 0px rgba(#000, 0.25);
          transition: all 0.9s ease;
        }

        .front {
          box-shadow: 10px 20px 30px 0px rgba(#000, 0.25);
        }

        .back {
          transform: rotateY(180deg);
          box-shadow: 10px 20px 30px 0px rgba(#000, 0.25);
        }
      }
    }
  }

  .youtube {
    height: 60vh;
    display: flex;
    padding: 2em;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    .heading-2 {
      margin-bottom: 1em;
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-list {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      &-wrapper {
        display: flex;
        &-item {
          margin-right: 1em;
        }
      }
    }
  }
}
